@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

/*------- BAse--------------*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

html,
body {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
}

p,
a,
li,
label {
  font-family: "Urbanist", sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  list-style: none;
  text-decoration: none;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 500;
}
/*--------End-BAse-------------*/

/**** Layout****/
.container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 4.9rem 1.2rem;
}

:is(
    .section--whyChoose,
    .section-about,
    .section-course,
    .section-conatct-homepage,
    .section-contact
  )
  .container:first-child {
  padding: 5rem 2.3 2.4rem 2.3;
}

.grid {
  display: grid;
}

.grid-two-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three--cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four--cols {
  grid-template-columns: repeat(4, 1fr);
}
/****End Layout****/

/**** Module****/
.fa-solid {
  padding: 2.4rem;
  background-color: var(--supporting-color);
  font-size: 2.4rem;
  border-radius: 50%;
}

.section-common--tittle {
  font-size: 2rem;
  margin: 2.4rem 0 1.2rem 0;
}

.btn {
  display: inline-block;
  padding: 1.2rem 3.2rem;
  background-color: rgb(1, 1, 192);
  color: var(--white-color);
  font-weight: 600;
  border-radius: 0.6rem;
}

.section-commom-heading {
  font-size: 3.2rem;
  font-weight: 700;
  text-transform: capitalize;
}

.section-common-subheading {
  color: var(--heading-color);
}
/****End Module****/

/**** State****/
.btn:hover {
  background-color: rgb(2, 2, 116);
  cursor: pointer;
  box-shadow: var(--btn-box-shadow);
}
/****End State****/

/**** Theme****/
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --font-color: #424242;
  --bg-color: #f7fcff;
  --heading-color: #000a19;
  --hero-heading-color: #003b99;
  --white-color: #ffffff;
  --para-color: #504e4d;
  --btn--hover--bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 11, 0.404) 0px 7px 29px 0px;
  --footer-bg-color: #040d12;
}
/****End Theme****/

/**** navbar Section****/
.section-navbar {
  width: 100%;
  box-shadow: rgb(0, 0, 0, 0.5) 0px 3px 12px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}

.section-navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 2.4rem;
}

.section-navbar .navbar ul {
  display: flex;
  gap: 3.2rem;

  & li a {
    color: var(--heading-color);
    text-transform: uppercase;
    font-weight: 600;
    display: inline-block;
    font-size: 1.6rem;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.3rem;
      left: 0;
      width: 0%;
      border-bottom: 0.3rem solid var(--main-color);
      transition: all 0.3s linear;
    }
  }

  & li a:hover::after {
    width: 100%;
  }
}
/**** Section****/

/****Hero-Section****/
main {
  position: relative;
  background-image: linear-gradient(
    to top right,
    #3d86fa,
    #4448fb,
    #679eff,
    #b3d2ff,
    #ebf3fe
  );
}
.section-hero .grid {
  align-items: center;
  gap: 6.4rem;

  & .hero-subheading {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 1.4rem;
    word-spacing: 0.2rem;
    color: var(--hero-heading-color);
    font-weight: 700;
  }

  & .hero-heading {
    font-size: 4rem;
    color: var(--hero-heading-color);
    line-height: 1.2;
    font-family: "Poppins";
    font-weight: 800;
  }

  & .hero-para {
    color: var(--white-color);
    margin: 2rem 0 1.2rem 0;
  }
}
.section-hero--image img {
  width: 100%;
  height: auto;
  border-radius: 5rem;
}

.custom-shape-divider-bottom-1721939924 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1721939924 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 40px;
}

.custom-shape-divider-bottom-1721939924 .shape-fill {
  fill: #ffffff;
}

/****End-Hero-Section****/

/**** ABout-Section****/

.section-about .grid {
  gap: 6.4rem;
}

.section-about .about-div {
  text-align: center;
}
.section-about img {
  padding: 0.5rem;
  background-color: var(--supporting-color);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: all 0.5s linear;
}

.icon:hover > img {
  scale: 1.5;
  rotate: 360deg;
  background: linear-gradient(to right, #0575e6, #021b79);
}
/****End ABou-Section****/

/**** Start-Services-Section****/
.section-course .grid {
  gap: 2.4rem;
}

.section-course .course-div {
  padding: 1.4rem;
}

.section-course {
  background-color: var(--bg-color);
}

.section-course .course-div:hover {
  box-shadow: var(--btn-box-shadow);
}

.inner-image {
  margin-left: 50px;
}
/****End-Services-Section****/

/****WhyUs-Section****/
.section--whyChoose .grid {
  gap: 12rem;
}

.choose--div {
  margin-top: 3rem;
}
.common-text--highlight {
  width: 6rem;
  aspect-ratio: 1;
  background-color: var(--supporting-color);
  color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
  font-weight: 700;
  border-radius: 50%;
}

.section--whyChoose .text-align--right .choose--div {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: end;
  text-align: right;
}

.choose-center--div,
figure {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.choose-center--div img {
  width: 100%;
  height: auto;
}

.choose-center--div figure:before,
.choose-center--div figure::after {
  content: "";
  position: absolute;
  top: 50;
  left: 50;
  translate: (-50%, -50%);
  background-color: var(--main-color);
  width: 40rem;
  border-radius: 50%;
  aspect-ratio: 1;
  z-index: -1;
}

.choose-center--div figure::before {
  animation: circle 5s linear infinite;
}

@keyframes circle {
  0% {
    background-color: #b3d0ff;
  }
  25% {
    background-color: #80b1ff;
  }
  50% {
    background-color: #4d91ff;
  }
  75% {
    background-color: #99c0ff;
  }
  100% {
    background-color: #3381ff;
  }
}
.choose-center--div figure::after {
  width: 45rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: 0.5rem solid var(--supporting-color);
  z-index: -2;
}
/****End-WhyUs-Section****/

/****-small-box-Section****/
.section-conatct-homepage {
  width: 60%;
  min-height: 30rem;
  margin: 0 auto;
  box-shadow: rgba(60, 64, 67, 0.404) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.39) 0px 2px 6px 2px;
  /* margin-bottom: 5rem; */
  border-radius: 0.2rem;
  padding: 0 3.2rem;
  position: relative;
  bottom: -15rem;
  background-color: var(--white-color);

  & .grid {
    align-items: center;
    gap: 6.4rem;
  }
}

.section-conatct-homepage a {
  color: var(--white-color);
  text-transform: capitalize;
}
.section-conatct-homepage .fa-solid {
  padding: 0;
  background-color: var(--main-color);
  color: var(--white-color);
}

.contact-tittle {
  font-size: 2.8rem;
  line-height: 1.2;
}

.contact-content p {
  margin: 1.2rem 0 2.4rem 0;
}
.section-conatct-homepage img {
  width: 90%;
  height: auto;
}
/****End-small-box-Section****/

/****Footer-Section****/
footer {
  background-color: var(--footer-bg-color);
  padding-top: 15rem;
}

footer .grid {
  text-align: left;
  gap: 3.9rem;
}

.same li {
  margin-top: 0.5rem;
}

.same li > a:hover {
  color: rgb(223, 107, 107);
}

.footer-4--div .fa-solid {
  color: var(--supporting-color);
  background-color: var(--btn--hover--bg-color);
  padding: 4px;
  font-size: 13px;
  margin-right: 10px;
}
footer * {
  color: var(--white-color);
}
.footer-subheading {
  font-size: 2.2rem;
  font-weight: 700;
}
.footer-subheading:hover {
  color: rgb(4, 176, 206);
}

.footer-1--div p {
  margin: 1rem 0 3rem 0;
}
.footer-1--div {
  text-align: left;
  & .social-footer--icons {
    display: flex;
    gap: 2.4rem;

    & .fa-brands {
      width: 5rem;
      aspect-ratio: 1;
      background-color: var(--supporting-color);
      color: var(--btn--hover--bg-color);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s linear;

      &:hover {
        color: var(--supporting-color);
        background-color: var(--btn--hover--bg-color);
        rotate: 360deg;
      }
    }
  }
}

/****End-Footer-Section****/

/****service-Section****/
.section-main-iamge {
  width: 100%;
  height: 100%;
  background-position: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.692), rgba(0, 0, 0, 0.616)),
    url(./images/service-picW.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: grid;
  place-items: center;
  text-align: center;

  & .service-heading {
    font-size: 60px;
    color: rgb(154, 165, 3);
    font-family: "Jost";
    font-weight: 700;
  }

  & .service-heading:hover {
    font-family: "Poppins";
    font-weight: 700;
  }
}
/****End-service-Section****/

/****Contact-Section****/

.mb-3 {
  margin-bottom: 3rem;
}

label {
  display: block;
  text-transform: capitalize;
}

input,
textarea {
  width: 100%;
  padding: 1.2rem 2rem;
  font-size: 1.7rem;
}

.contact-content .grid {
  gap: 6.4rem;
}

::placeholder {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
}

.btn-submit {
  font-size: 1.8rem;
  border: none;
  text-transform: capitalize;
}

.section-contact .grid {
  gap: 6rem;
  align-items: center;
}

/****End-Contact-Section****/

/****Scroll-bar-Section****/
::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background: var(--supporting-color);
}
::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--heading-color);
}
input:focus-visible,
textarea {
  outline: 0.1rem solid var(--btn--hover--bg-color);
}
/****End-scrollbar-Section****/

/**** Resposive****/
@media (width <= 1080px) {
  html {
    font-size: 56.25%;
  }

  .section-hero img {
    width: 90%;
  }
}

@media (width <= 943px) {
  .section-main-iamge {
    & .service-heading {
      font-size: 60px;
      font-weight: 700;
    }
  }
}

@media (width <= 920px) {
  html {
    font-size: 54%;
  }

  .hero-btn {
    margin-top: 40px;
  }
}

@media (width <= 768px) {
  .section-hero {
    & .grid-two-cols {
      grid-template-columns: 1fr;

      & .section-hero--content {
        order: 2;
      }
    }
  }

  .hero-btn {
    margin-bottom: 15px;
    margin-top: 30px;
  }

  .section-hero--image {
    order: 1;
  }

  .section-hero--content {
    text-align: left;
  }

  html {
    font-size: 45%;
  }

  .section-hero img {
    width: 60%;
  }

  .icon:hover > img {
    scale: 1.2;
  }

  .custom-shape-divider-bottom-1721939924 svg {
    height: 30px;
  }
  .section-main-iamge {
    & .service-heading {
      font-size: 55px;
      font-weight: 600;
    }
    .service-heading:hover {
      font-weight: 600;
    }
  }

  .section-about .about-div {
    text-align: left;
  }
}

@media (width <= 768px) {
  .section-navbar .container {
    display: flex;
    flex-direction: column;
    & .navbar-brand {
      text-align: center;
    }
  }
}

@media (width <=768px) {
  .section-about .grid-three--cols {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  .section-course .grid-four--cols {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  .section--whyChoose {
    & .choose-left--div {
      order: 2;
    }

    & .choose-right--div {
      order: 3;
    }

    & .choose-center--div {
      order: 1;

      & figure::before {
        width: 0;
        height: 0;
        background-color: transparent;
        padding: 0;
      }
      & figure::after {
        width: 0;
        height: 0;
        background-color: transparent;
        padding: 0;
      }
    }
  }
  :is(
      .section--whyChoose,
      .section-about,
      .section-course,
      .section-conatct-homepage,
      .section-contact
    )
    .grid {
    gap: 6rem;
  }
}

@media (width <= 768px) {
  .grid-two-cols,
  .grid-three--cols {
    grid-template-columns: 1fr;
  }
  .section--whyChoose {
    & .grid-three--cols {
      grid-template-columns: 1fr;
    }
  }
  .section--whyChoose {
    & img {
      width: 30%;
    }

    & .grid {
      gap: 1.4rem;
    }
  }

  .section--whyChoose .text-align--right .choose--div {
    align-items: start;
    text-align: left;
  }

  footer .grid-four--cols {
    grid-template-columns: repeat(3, minmax(1px, 1fr));
    text-align: left;
    margin-left: 10px;
    & .footer-1--div {
      grid-row: 2 / 3;
      grid-column: 1 / -1;
      margin-top: 6.4rem;
    }
  }
  .section-conatct-homepage {
    & .grid-two-cols {
      grid-template-columns: 1fr;
    }
  }

  .section-conatct-homepage .btn {
    display: block;
    text-align: center;
  }

  :is(.section-conatct-homepage) .container:first-child {
    padding: 6.4rem 0rem 2.4rem 0rem;
  }
}

@media (width <= 440px) {
  html {
    font-size: 38%;
  }
  .section-about img {
    width: 50px;
    height: 50px;
  }
  .section-main-iamge {
    & .service-heading {
      font-size: 50px;
      font-weight: 500;
    }
    .service-heading:hover {
      font-weight: 500;
    }
  }
}

@media (width <= 360px) {
  html {
    font-size: 30%;
  }

  .section-course {
    & .grid-four--cols {
      grid-template-columns: 1fr;
    }
  }

  .inner-image {
    margin-left: 10px;
  }

  .course-div {
    & .icon {
      text-align: left;
    }
  }

  .section-main-iamge {
    & .service-heading {
      font-size: 50px;
      font-weight: 500;
    }
    .service-heading:hover {
      font-weight: 500;
    }
  }
}

@media (width <= 292px) {
  html {
    font-size: 17%;
  }

  .section-main-iamge {
    & .service-heading {
      font-size: 40px;
      font-weight: 500;
    }
    .service-heading:hover {
      font-weight: 400;
    }
  }
}

@media (width <= 208px) {
  html {
    font-size: 10%;
  }

  .section-main-iamge {
    & .service-heading {
      font-size: 30px;
      font-weight: 400;
    }
    .service-heading:hover {
      font-weight: 400;
    }
  }
}

@media (width <= 168px) {
  html {
    font-size: 18%;
  }
}
/****End Resposive****/
